<%= form_with(model: person, local: true,class:"card p-2") do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= form.label :nascimento %>
    <%= form.text_field :nascimento, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :endereco, "Endereço" %>
    <%= form.text_field :endereco, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :mae, "Mãe" %>
    <%= form.text_field :mae, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :pai %>
    <%= form.text_field :pai, class: 'form-control' %>
  </div>

  <div class="form-check">
    <%= form.check_box :mora_com_pais, class: 'from-check-input' %>
    <%= form.label :mora_com_pais, class: 'from-check-label' %>
  </div>

  <div class="form-group">
    <%= form.label :mora_com_quem, "Mora com quem?" %>
    <%= form.text_field :mora_com_quem, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :integrantes_familia, "Integrantes da Familia" %>
    <%= form.number_field :integrantes_familia, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :renda_familiar %>
    <%= form.text_field :renda_familiar, class: 'form-control' %>
  </div>

  <div class="form-check">
    <%= form.check_box :casa_alugada, class: 'from-check-input' %>
    <%= form.label :casa_alugada, class: 'from-check-label' %>
    
  </div>

  <div class="form-check">
    <%= form.check_box :estuda, class: 'from-check-input' %>
    <%= form.label :estuda, class: 'from-check-label' %>
  </div>

  <div class="form-group">
    <%= form.label :escolaridade %>
    <%= form.text_field :escolaridade, class: 'form-control' %>
  </div>


  <div class="form-check">
    <%= form.check_box :tempo_integral, class: 'from-check-input' %>
    <%= form.label :tempo_integral, class: 'from-check-label' %>
    
  </div>

  <div class="form-check">
    <%= form.check_box :escola_alimentacao, class: 'from-check-input' %>
    <%= form.label :escola_alimentacao, class: 'from-check-label' %>
    
  </div>

  <div class="form-check">
    <%= form.check_box :biblioteca, class: 'from-check-input' %>
    <%= form.label :biblioteca, class: 'from-check-label' %>
  </div>

  <div class="form-check">
    <%= form.check_box :laboratorio, class: 'from-check-input' %>
    <%= form.label :laboratorio, class: 'from-check-label' %>
    
  </div>

  <div class="actions">
    <%= link_to 'Voltar', people_path, class: 'btn btn-warning mb-3' %>
    <%= form.submit "Gravar", class: 'btn btn-success mb-3' %>
  </div>
<% end %>
