<div class="mt-3">
<% if notice %>
  <div id="notice" class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<nav class="navbar navbar-light bg-light ">
  <a class="navbar-brand" href="#">Lista de cadsatrados</a>
</nav>


<section class="container">
  <div class="mb-3">
  <%= link_to 'Novo Cadastro', new_person_path,class: "btn btn-success" %>
  </div>

  <table class="table" id="tbl">
    <thead class="thead-light">
      <tr>
        <th>Nome</th>
        <th>Nascimento</th>
        <th>Endereco</th>
        <th>Mae</th>
        <th>Escolaridade</th>
        <th colspan="3" width="20%">Funções</th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.nome %></td>
          <td><%= person.nascimento %></td>
          <td><%= person.endereco %></td>
          <td><%= person.mae %></td>
          <td><%= person.escolaridade %></td>
          <td><%= link_to 'Exibir', person, class: 'btn btn-sm btn-primary' %></td>
          <td><%= link_to 'Editar', edit_person_path(person), class: 'btn btn-sm btn-success' %></td>
          <td><%= link_to 'Deletar', person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>


<br>
</div>