<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nascimento</th>
      <th>Endereco</th>
      <th>Mae</th>
      <th>Pai</th>
      <th>Mora com pais</th>
      <th>Mora com quem</th>
      <th>Integrantes familia</th>
      <th>Renda familiar</th>
      <th>Casa alugada</th>
      <th>Estuda</th>
      <th>Escolaridade</th>
      <th>Tempo integral</th>
      <th>Escola alimentacao</th>
      <th>Biblioteca</th>
      <th>Laboratorio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.nome %></td>
        <td><%= person.nascimento %></td>
        <td><%= person.endereco %></td>
        <td><%= person.mae %></td>
        <td><%= person.pai %></td>
        <td><%= person.mora_com_pais %></td>
        <td><%= person.mora_com_quem %></td>
        <td><%= person.integrantes_familia %></td>
        <td><%= person.renda_familiar %></td>
        <td><%= person.casa_alugada %></td>
        <td><%= person.estuda %></td>
        <td><%= person.escolaridade %></td>
        <td><%= person.tempo_integral %></td>
        <td><%= person.escola_alimentacao %></td>
        <td><%= person.biblioteca %></td>
        <td><%= person.laboratorio %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
